.TituloProductos {
    display: flex;
    justify-content: center;
    background-color: transparent;
    font-family: $font-lato;
    font-size: $fuente-2;
    margin-top: 4rem;
    color: $color-texto;
    margin: 30px;
}

.productos {
    display: grid;

    .contenedor {
        display: grid;
        width: 65%;
        margin: auto;

        .productoColumna {
            text-align: center;
            margin: 5px;
            background-color: $color-grey;
            max-width: max-content;
            border-radius: 12px;
            color: $color-texto;
            padding-bottom: 5rem;
            margin-left: 10px;

            &:hover {
                border-style: ridge;
                border-color: $color-rose;
            }


            img {
                width: 100%;
            }

            .btnGral {
                @extend button;
                margin: 3px;
                box-shadow: 10px 5px 8px;
                width: 60%;
            }
        }
    }
}

.contenedor {
    @include ajustarPro;
    -webkit-line-clamp: 1;

    .productoColumna {
        @include ajustarPro;
        -webkit-line-clamp: 4;

        h3 {
            @include ajustarPro;
            -webkit-line-clamp: 1;
        }
    }
}