//colores
$color-white: #F5F5F5;
$color-grey: #ccc;
$color-texto: #252f42;
$color-dark: #4E4E4E;
$color-black: black;
$color-bluegr: #4f6fad;
$color-blue: #3498db;
$color-celeste: #30aed6;
$color-red: #dd3737;
$color-tan: #C3A1A0;
$color-rose: #BA7E7E;
$color-pink: #ee9cb4;
$color-light: #E0C9CB;
$color-golrari: rgba(255, 217, 0, 0.161);

//fuentes
$font-helvatica: Helvetica, Arial, sans-serif;
$font-lato: 'Lato', sans-serif;
$fuente-0-9: 0.9em;
$fuente-1: 1em;
$fuente-1-2: 1.2em;
$fuente-1-3: 1.3em;
$fuente-2: 2em;
$fuente-2-3: 2.3em;
$fuente-18: 18px;